APP_NAME=go-boilerplate

# OpenTelemetry
# Leave empty to print to file
OTLP_TRACE_ENDPOINT=http://otel.example.com:4318/v1/traces
OTLP_LOG_ENDPOINT=http://otel.example.com:4318/v1/logs

# Log
LOG_LEVEL=info

# DB
POSTGRES_USER=
POSTGRES_PASSWORD=
POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_DB_NAME=
POSTGRES_SSL_MODE=disable

# JWT
JWT_SECRET="some-secret"
JWT_TTL_SECOND=600
JWT_REFRESH_SECRET="some-secret"

# Default Admin Users
SEEDER_ADMIN_NAME="My Admin"
SEEDER_ADMIN_EMAIL="admin@example.com"
SEEDER_ADMIN_PASSWORD=
